.github/**
.vscode/**
.gitignore
.nvmrc
.python-version
.prettierrc.json
SECURITY.md
docs/**
scripts/**
src/**
test/**
syntaxes/*.yaml
*.tsbuildinfo
eslint.config.mjs
tsconfig.json
node_modules/**
node_modules/.cache/**
.vscode-test/**
dist/**
out/**
!out/extension.js
*.vsix
*.log
*.tmp
